/* General reset */
body, h1, p, ul, li, a, img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Header section */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
 position: absolute;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */

}
::-webkit-scrollbar {
  width: 8px; 
  height: 8px; 
}

::-webkit-scrollbar-thumb {
  background: rgba(50, 35, 50, 255); 
  border-radius: 4px; 
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0); 
}

header {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
}

.navbar {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  z-index: 10;
  
}

.nav-links {
  display: flex;
  justify-content: center; 
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #511F58; 
}

body {
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

/* Projects section */
.section-projects {
  padding: 40px 20px;
  background-color: #eaeaea;
}

.placeholder-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.placeholder {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.placeholder img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.placeholder p {
  margin-bottom: 10px;
  font-weight: bold;
}

.view-more-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  color: #fff;
  background-color: ##511F58;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.view-more-button:hover {
  background-color: #e95500;
}

/* Footer */
footer {
  background: #FFFFFF;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin-bottom: 10px;
}

.social-media a {
  margin: 0 10px;
  display: inline-block;
}

.social-media img {
  width: 30px;
  height: 30px;
}

/* Responsive design */
@media (max-width: 768px) {
  .overlay-text h1 {
    font-size: 2.5rem;
  }

  .overlay-text p {
    font-size: 1rem;
  }
}
